@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}



/*Introdução*/
.intro{
  background-image: url("https://copilot.microsoft.com/th/id/BCO.6a415507-19b7-4f34-b871-b1bed56b117d.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  background-position: center 20%;
  margin-top: 0%;
}
@media screen and (max-width: 768px) {
  .intro {
    height: fit-content;
  }
  .h1{
    color: aliceblue;
  }
}

/*NavBar*/
nav{
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 60px;
    margin-right: 70px;
}

/*links*/
.links{
  margin-right: 20px;
}
.menu{
  display: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
  }
}

/*NavBar e introdução*/
.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 15px;
  word-spacing: 20px;
}

/*Chronicles*/
#titulo{
  justify-content: start;
  font-size: 70px;
  font-family: "Jacquard 24", system-ui;
}

/*Links tranform*/
a{
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(238, 201, 99);
}

/*Botão Subscrever*/
#Butao{
  border: none;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 60px;
  background-color: rgb(218, 160, 0);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#Butao:hover{
  background-color: white;
}

/*div titulo*/
#cabeçalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Paragrafo introdutorio*/
#paragrafo{
    border: solid rgb(114, 35, 35);
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 10px;
}
/*Titulo "Napoleao Bonaparte"*/

h1{
    font-size: 100px;  
    font-family: "Aboreto", system-ui;
    color: rgb(255, 255, 255);
    text-align: center;
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 60px;
  }
}
/*Primeiro Paragrafo*/

#p1{
    font-size: 30px;
    text-align: center;
    color: white;
}