/*Cor do fundo*/
body{
    background-color: rgb(192, 161, 116);
    margin: 0;
    padding: 0;
}
/*Imagem napoleao grid*/

#napoleao1{
    border-radius: 25px;
    height: 350px;
    width: 600px;
}
@media screen and (max-width: 768px) {
  #napoleao1{
    height: 80%;
    width: 100%;
  }
}
/*Paragrafos e textos de tabela*/

p{
    font-size: 20px;
}
#p3{
    color: rgb(0, 0, 0);
    margin: 20px;
}
table{
    border: solid rgba(255, 255, 255, 0);
    border-radius: 25px;
}
th{
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(114, 35, 35);
    color: white;
    padding: 10px;
}
td{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 253, 253);
    padding: 10px;
}


/*Flex com imagens e tabela*/
.container{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
/*Suporte video*/
h2{
    text-align: center;
    font-size: 30px;
}
#video{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#contInterativo{
    border-radius: 20px;
    border: solid rgb(114, 35, 35);
    padding: 10px;
    height: 610px;
    margin: 10px;
}
@media screen and (max-width: 768px) {
  #contInterativo{
    height: fit-content;
  }
}

/*CopyRight*/

footer{
    text-align: center;
    color: black;
    font-style: italic;
}