body{
    background-color: rgb(192, 161, 116);
}

/*Imagens*/
#img1{
    display: flex;
    justify-content: center;
}
#img2{
    border-radius: 25px;
    height: 200px;
}
#waterloo{
    display: flex;
    justify-content: center;
}
#img3{
    border-radius: 25px;
    height: 200px;
}
#revolução{
    display: flex;
    justify-content: center;
}
#napoleao1{
    border-radius: 25px;
    height: 400px;
}
@media screen and (max-width: 630px) {
  #napoleao1{
    width: 100%;
    height: 80%;
  }
  #img2{
    width: 100%;
    height: 80%;
  }
  #img3{
    width: 100%;
    height: 80%;
  }
}

/*textos*/
h1{
    text-align: center;
    font-size: 50px;
}
#text{
    margin: 30px;
    border: 2px solid rgb(114, 35, 35);
    border-radius: 25px;
    padding: 25px;
}
h2,h3,h4,h5{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}

/*footer*/
footer{
    text-align: center;
    color: black;
    font-style: italic;
}

/*Mapa*/
.mapa {
  position: relative;
  display: inline-block;
}
#centro{
    text-align: center;
}
#imagemMapa{
    height: 500px;
    width: 700px;
    border: solid rgb(0, 0, 0);
}
.ponto {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(114, 35, 35);
  border-radius: 50%;
}

.ponto1 { top: 250px; left: 400px; }
.ponto2 { top: 210px; left: 260px; }
.ponto3 { top: 410px; left: 50px; }

.ponto:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 800px) {
    #imagemMapa,
    .titulomapa{
        display: none;
    }
    .ponto{
        display: none;
    }
}